body {
    font-family: sans-serif;
}
header{
   background-color: Turquoise ;
   padding:10px;
}
header img{
    color: Turquoise ;
}
.y{
    color:#8B008B;
    text-align:center;
}
footer{
    background-color: YellowGreen ;
}
nav{
    background-color: Green ;
    
}
nav a{
   margin:20px; 
   font-size:20px;
   text-decoration:none;
   color: rgb(90, 90, 90);
}
.e{
    background-color: rgb(12, 204, 22);
   
}
